<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <script src='@Url.Content("~/Scripts/jquery-1.7.2.js")'></script>
    <script src='@Url.Content("~/Scripts/underscore.js")'></script>
    <script src='@Url.Content("~/Scripts/knockout-2.1.0.js")'></script>
    <script src='@Url.Content("~/Scripts/knockout.mapping-latest.js")'></script>
    <script src='@Url.Action("Index", "Silo1")'></script>
    <script src='@Url.Action("Index", "Silo2")'></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
